/*Header*/
header {
    li {
        font-family: $font;
        font-weight: $font_w;
        font-size: $font_s;
        display: $df;
        align-items: $align_items;
        margin-left: $ml;
        margin-right: 15px;
        }
}
/*Fin Header*/