$font: 'Cormorant Garamond';
$font_w: lighter;
$font_s: 20px;
$textdeco: none;
$align_items: center;
$jcontent: center;
$df: flex;
$f-d-r: row;
$f-d-c: column;
$anim-d: 4s;
$anim-n: appear;
$a-t-f: ease-in-out;
$margin: 30px 10px 30px 10px;
$mb: 20px;
$mb-: 10px;
$mt-: 20px;
$ml: 10px;
$trans: 2s;
$bs: outset;
$wd-50: 50%;
$wd-60: 60%;
$wd-70: 70%;
$wd-80: 80%;
$wd-90: 90%;

$colors:
black,
grey,
rgb(1, 14, 14),
rgb(147, 154, 161);




